@charset "utf-8";

body {
    background-color: black;
    text-align: center;
    
}

h1 {
    color:white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:35px;  
}

a {
    color: azure;
    font-size: 25px;
   
}

p {
    text-align: center;
}
