@charset "UTF-8";


body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    background-color: aqua;
    height: 200px;
    border: 1px solid black;
    box-shadow: 2px 2px 2px 4px rgba(231, 12, 12, 0.171);
    border-radius: 10px;
    padding: 10px;
    margin: auto;
    display:inline-block;
    height: 100px;
    width: 100px;
}

div {
    border-radius: 10px;
    display: inline-block;
    background-color: yellow;
    border: 1px solid black;
    text-align: center;
    height: 200px;
    width: 200px;
}
.basico:hover {
    color: aqua;
    background-color: blueviolet;
}