@charset "UTF-8";
/*Regra @charset caso haja problemas com acentuação */

body {
    background-color: lightgoldenrodyellow;
    color: chocolate;
    font-size: 12px;
    font-family: Arial;
}

h1 { 
    color: brown;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
    color: brown;
    text-decoration: nome
}
